@import 'styles/common.css';
@import 'styles/reset.css';
@import 'styles/font.css';

*{
    background-color: black;
}

.detail_wrap{
    display: flex;    
    justify-content: center;
    max-width:1200px;
    margin: 0 auto;
    font-family: 'NetflixSansRegular';
    color: #fff;
}

.detail_wrap .loading_phrase{
    text-align: center;
}

.detail_wrap .loading_phrase p{
    display: inline-block;
    color: #e50914;
    font-size: 5rem;
}

.movie_image_wrap .download_button{
    width:100%;
    padding: 10px;
    border: none;
    background-color: #4b9924;
    color: white;
}

.movie_image_wrap .download_button a{
    display: inline-block;
    padding-right: 4px;
    background-color: transparent;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    text-decoration: none;
}

.movie_download_button{
    padding-left: 4px;
    background-color: transparent;
    font-size: 28px;
}

.movie_detail_contents{
    display:inline-block;
    width: 60%;
    padding-left: 30px;
    text-align: left;
}

@media only screen and (max-width: 895px) {
    .detail_wrap{
        display: block;
    }
    .movie_image_wrap{
       margin: 0 auto;
        max-width: 60%;
    }
    .movie_detail_contents{
       padding: 20px 0 0 ; 
       width: 90%;
    }
}

.movie_detail_header .title{
    font-size: 2.5rem;
}

.movie_detail_body li{
    font-size: 1.75rem;
}

@media only screen and (max-width: 895px) {
    .movie_detail_header .title{
        padding: 20px 0;
        text-align: center;
    }
}


@media only screen and (max-width: 768px) {
    .movie_image_wrap .download_button{
        padding: 5px;
    }
    .movie_image_wrap .download_button a{
        font-size: 1.25rem;
    }
    .movie_detail_header .title{
        font-size: 1.75rem;
    }
    .movie_detail_body li{
        font-size: 1.25rem;
    }
}
