@import 'styles/common.css';
@import 'styles/reset.css';
@import 'styles/font.css';

.home_wrap{
   padding: 0 70px;
   color: white;
  text-align: center
}

.home_wrap .loading_phrase{
    display:inline-block;
text-align: center;
font-family: 'NetflixSansRegular';
color: #e50914;
font-size: 80px;

}

.movie_list_card_wrap{
    display: inline-block;
    padding: 3px;

}


.card-body :hover{
    border-radius: 20px;
    transform: scale(1.2) translateY(-20px); ;
    transition-duration: 0.5s;
 
}

.card-body p {
    position: absolute;
    transform: translate(20%, -10%);
    background-color: transparent;
    font-family: 'NetflixSansRegular';
    color: #e50914;
    font-size: 42px;
}

.card-footer {
    width: 100%;
    font-family: 'NetflixSansRegular';
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #e50914;

}