@import 'styles/common.css';
@import 'styles/reset.css';
@import 'styles/font.css';

*{
    background-color: black;
}

.home_wrap{
   padding: 0;
   text-align: center;
}

.home_wrap .loading_phrase{
    text-align: center;
}

.home_wrap .loading_phrase p {
    display: inline-block;
    font-family: 'NetflixSansRegular';
    color: #e50914;
    font-size: 5rem;
}

.thumbnail_wrap {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px ;
}

@media only screen and (max-width: 800px) and (min-width: 430px) {
    .thumbnail_wrap{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media only screen  and (max-width: 430px) {
    .thumbnail_wrap{
        grid-template-columns:  minmax(0, 1fr);
        gap: 4px ;
    }
}

.movie_list_card_wrap{
    padding: 3px;
    cursor: pointer;
}

.card-body img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body img:hover{
    border-radius: 20px;
    transform: scale(1.2) translateY(-20px); 
    transition-duration: 0.5s;
}

.card-body:hover p {
    visibility: hidden;
}


.card-body p {
    position: absolute;
    transform: translate(30%, -10%);
    background-color: transparent;
    font-family: 'NetflixSansRegular';
    color: #e50914;
    font-size: 2.5rem;
}

@media only screen and (max-width: 430px) {
    .card-body img{
        width:80%;
    }
    .card-body p{
        transform: translate(120%, -10%);
    }
} 

.card-footer {
    font-family: 'NetflixSansRegular';
    text-align: center;
    color: white;
    background-color: #e50914;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
