@import 'styles/common.css';
@import 'styles/reset.css';
@import 'styles/font.css';


#wrap{
 background-color: black;
}
.fullscreen_style{
    overflow:auto
}

.contents_layout{
    padding: 0 70px;
    text-align: center;
}

@media only screen and (max-width: 820px) {
    .contents_layout{
        padding: 10px;
    }
}

