@import 'styles/common.css';
@import 'styles/reset.css';
@import 'styles/font.css';

.nav_wrap{
    display: flex;
    padding: 53px 45px 45px;
    align-items:center;
    justify-content: space-between;
    color: white;
}

.nav_logo {
    font-family:'NetflixSansMedium';
    font-size: 40px;
    letter-spacing: -4px;
    color: #e50914;
}
