.nav_wrap{
    display: flex;
    margin: 20px 45px;
    align-items:center;
    justify-content: space-between;
    color: white;
}

.nav_logo {
    font-family:'NetflixSansMedium';
    font-size: 40px;
    color: #e50914;
}
